---
import Container from "./Container.astro";
---

<div id="contact">
  <Container>
    <div class="space-y-10 text-center pt-20">
      <h2 class="text-3xl font-bold md:text-4xl text-white">Contact</h2>
      <div class="text-xl flex flex-col gap-6 items-center">
        <div class="flex flex-col gap-4 items-center justify-center">
          <p class="lg:mx-auto text-gray-300 hover:text-gray-50 transition-all">
            0882-7631-9980 (OSIS SMANSIX CREW)
          </p>
          <a
            href="https://wa.me/6288276319980"
            target="_blank"
            class="relative flex h-11 items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-emerald-500 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-bold text-emerald-900">
              Chat
            </span>
          </a>
        </div>
        <div class="flex flex-col gap-4 items-center justify-center">
          <p class="lg:mx-auto text-gray-300 hover:text-gray-50 transition-all">
            0895-6220-85351 (Raka)
          </p>
          <a
            href="https://wa.me/62895622085351"
            target="_blank"
            class="relative flex h-11 items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-emerald-500 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-bold text-emerald-900">
              Chat
            </span>
          </a>
        </div>
        <div class="flex flex-col gap-4 items-center justify-center">
          <p class="lg:mx-auto text-gray-300 hover:text-gray-50 transition-all">
            0882-7407-9053 (Rafli)
          </p>
          <a
            href="https://wa.me/6288274079053"
            target="_blank"
            class="relative flex h-11 items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-emerald-500 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-bold text-emerald-900">
              Chat
            </span>
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>
