---
import Container from "./Container.astro";
---

<div class="relative" id="hero">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>
  <div
    class="absolute w-full h-screen object-cover"
    style="background-image: url(hero.jpg);background-size: cover;background-position: center;"
  >
  </div>
  <div class="absolute w-full h-screen object-cover bg-black opacity-70"></div>
  <div class="absolute -bottom-0 mb-12 left-[calc(50%-12px)]">
    <div class="mouse"></div>
  </div>
  <Container>
    <div class="relative m-auto h-screen flex flex-col justify-center">
      <div class="lg:w-2/3 text-center m-auto">
        <h1 class="text-white font-bold text-5xl md:text-6xl xl:text-7xl">
          CLASSIX <span class="text-primary dark:text-white">2023</span>
        </h1>
        <p class="mt-8 text-gray-200">
          CLASSIX merupakan akronim dari <span class="font-black text-lg"
            >Clair De Soleil of Smansix</span
          >
          yang berarti sinar matahari Smansix dengan harapan dengan diadakannya CLASSIX
          2023 ini SMA Negeri 6 Prabumulih beserta sekolah-sekolah lainnya dapat
          bersinar lagi. CLASSIX bertemakan <span class="font-black text-lg"
            >“Classic Time That Give You The Golden Memory”</span
          > sehingga dengan diadakannya event CLASSIX ini seluruh partisipan menikmati
          waktu yang baik dan mendapatkan kenangan yang baik.
        </p>
        <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
          <a
            href="#list"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-semibold text-white"
              >Regist Your Team</span
            >
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>
