---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="CLASSIX 2023 yang berarti sinar matahari Smansix dengan harapan dengan diadakannya CLASSIX
      2023 ini SMA Negeri 6 Prabumulih beserta sekolah-sekolah lainnya dapat
      bersinar lagi."
    />
    <meta property="og:image" content="/thumbnail.jpg" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="1080" />
    <meta property="og:image:type" content="image/jpeg" />
    <title>CLASSIX 2023</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-900 scroll-pt-10">
    <AppHeader />
    <slot />
    <AppFooter />
  </body>
</html>
<style>
  html {
    font-family: Urbanist, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
  }
</style>
